.signup-page {
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    hsl(110deg 10% 11%) 0%,
    hsl(137deg 16% 11%) 5%,
    hsl(154deg 27% 9%) 12%,
    hsl(167deg 44% 8%) 20%,
    hsl(176deg 75% 7%) 29%,
    hsl(183deg 100% 6%) 40%,
    hsl(189deg 100% 6%) 51%,
    hsl(196deg 100% 7%) 63%,
    hsl(201deg 100% 7%) 74%,
    hsl(207deg 100% 8%) 83%,
    hsl(212deg 100% 8%) 90%,
    hsl(218deg 100% 8%) 95%,
    hsl(237deg 64% 10%) 98%,
    hsl(267deg 80% 8%) 100%
  );
  overflow: hidden;
}

.signup-wrapper {
  background: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(5.3px);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.signup-left {
  color: white;
}

.signup-logo {
  font-size: 2rem;
}

.signup-desc {
  margin-top: 1rem;
}

.signup-right {
  margin-top: 2rem;
}
.react-tel-input .country-list{
  max-height: 115px;
}